*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* z-index: 0; */
}
*, *::before, *::after {
    box-sizing: border-box;
}
h1{
    font-size: 36px;
}
p, span{
    font-size: 16px;
}
button {
    padding: 10px 20px;
    border: none;
    margin-right:.5vw;
    border-radius: 5px;
}
.hero {
    /*     background-image: url("img/couch.png");
    background-size: contain; */
    background: url("img/couch.png") no-repeat;
    background-position: 50% 80%;
    background-size: 90%;
}
.hero #burger{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    /* position: absolute;
    top: 20px;
    right: 20px; */
    z-index: 4;
    cursor: pointer;
}
.hero #burger .line{
    width: 100%;
    height: 2px;
    background-color: black;
}
.hero .grad_bg{
    position: absolute;
    z-index: -2;
    background: linear-gradient(#ca8a04, #facc15);
    left: 0;
    right: 0;
    /* bottom: 150px; */
    height: 100vh;
}
.hero nav.collapse_menu{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.show{
    display: flex;
    top: 0;
    bottom: 0;
}
.hero nav.collapse_menu ul{
    text-align: center;
}
.hero nav.collapse_menu ul li{
    padding: 16px;
}
.hero nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #ca8a04; */
    padding: 2vw;
}
.hero nav ul li{
    list-style: none;
}
.hero nav .menu ul li {
    display: inline-block;
}
.hero nav ul li a{
    font-weight: 600;
    font-size: 18px;
    padding: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.hero nav ul li a:hover{
    opacity: 0.75;
}
.hero nav .logo img{
    max-width: 270px;
    min-width: 220px;
    width: 70%;
}
.hero nav button{
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 16px;
}
.hero nav button:hover{
    opacity: 0.75;
}
.hero nav button:nth-child(1){
    background-color: #ff4444;
}
.hero nav button:nth-child(2),
.hero nav.collapse_menu ul li:nth-child(4) button{
    background-color: black;
}
.hero .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero .main img{
    padding: 1vw;
}
.hero .button{
    width: 100%;
    text-align: center;
    padding: 2vw;
}
.hero .button button{
    z-index: 0;
    display: flex;
    align-items: center;
    color: black;
    background-color: #ca8a04;
    font-weight: 700;
    font-size: 16px;
    margin: auto;
    box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000, 0 0 #0000,0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
}
.hero .button button:hover{
    background-color: #dc2626;
    color: white;
}
.hero .button button img{
    width: 20px;
}
.offers {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.offers div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

.offers div .col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    /* flex: 1 1; */
}
.offers div .col .border{
    border: 7px solid #ca8a04;
    border-radius: 1000px;
    padding: 15px;
}
.offers div .col h3{
    font-size: 24px;
}
.offers div .col p{
    font-size: 16px;
}
.partners {
    text-align: center;
    padding: 1vw;
    background-color: black;
}
.partners h1{
    color: rgb(202 138 4);
    font-size: 36px;
    padding: 16px
}
.partners p{
    color: white; 
    width: 100%;
    max-width: 32rem;
    margin: auto;
    font-size: 16px;
    padding: 16px;
}
.partners .our_partners {
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}
.partners .our_partners img {
    width: 112px;
    background-color: white;
    margin: 2vw 3vw;
    padding: 10px;
    display: inline-block;
    height: 112px;
    border-radius: 10px;
}
.cta {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* background-color: pink; */
    padding: 0 7vw;
}
.cta .content{
    width: 40%;
    padding-left: 5vw;
    /* height: inherit; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}
.cta .content h1{
    margin-top: 2vw;
}
.cta .content p{
    margin-top: 1vw;
}
.cta .content button{
    width: 30%;
    min-width: 100px;
    background-color: rgb(202 138 4);
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 8px 10px -6px rgba(0,0,0,0.1);
    margin: 3vw 0;
}
.cta .image{
    width: 50%;
}
.cta .image img{
    width: 90%;
    padding: 2vw;
}
.cta .circle{
    z-index: -2;
    width: 360px;
    height: 360px;
    border: 8px solid #ca8a04;
    border-radius: 10000px;
    position: absolute;
    bottom: 0;
    right: 2vw;
}
.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 98vh;
    overflow: hidden;
}
.contact .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    height: 100%;
}
.contact .left img:nth-child(1){
    width: 150px;
}
.contact .left img[alt=App]{
    width: 240px;
}
.contact .left .button{
    width: 100%;
    text-align: center;
    padding: 2vw;
    margin: 3rem auto;
}
.contact .left .button button{
    z-index: 0;
    display: flex;
    align-items: center;
    color: black;
    background-color: #ca8a04;
    font-weight: 700;
    font-size: 16px;
    margin: auto;
    box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000, 0 0 #0000,0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
}
.contact .left .button button:hover{
    background-color: #dc2626;
    color: white;
}
.contact .left .button button img{
    width: 20px;
}
.contact form {
    border: 3px solid rgb(64 64 64);
    border-radius: 10px;
    padding: 2vw;
    width: 40%;
}
.contact form h1{
    padding-bottom: 2vw;
}
.contact form input,
.contact form textarea{
    border: 4px solid #ca8a04;
    border-radius: 5px;
    display: block;
    margin-bottom: 1vw;
    width: 100%;
    padding: 5px 10px;
}
.contact form label{
    display: block;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.25rem;
    transition: all .1s;
}
.contact form .data:focus-within label {
    color: #ca8a04; 
}
.contact form textarea{
    resize: none;
    min-height: 180px;
}
.contact form input[type = submit]{
    width: 30%;
    max-width: 200px;
    min-width: 150px;
    background-color: #ca8a04;
    font-weight: 700;
    font-size: 18px;
}
.contact form input[type = submit]:hover{
    background-color: #dc2626;
    color: white;
    border-color: #dc2626;
}
.contact form .textarea{
    position: relative;
    padding-top: 15px;
}
.contact form .textarea label{
    position: absolute;
    top: calc(1vw + 15px);
    left: 1vw;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;
}
.contact form .textarea textarea:focus + label{
    color: #ca8a04;
    transform: translate(0, calc(-1vw - 20px)) scale(.9);
    left: 0;
    transform-origin: top left;
}

@media screen and (max-width: 1024px){
    .cta{
        flex-direction: column-reverse;
    }
    .cta .content{
        width: 60%;
    }
    .cta .image{
        width: 70%;
    }
    .cta .circle{
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width: 1023px){
    .hero nav {
        background-color: #ca8a04;
        position: relative;
        padding-top: 70px
    }
    .hero nav .logo{
        position: absolute;
        top: 10px;
    }
}
@media screen and (max-width: 767px){
    .hero nav {
        background-color: #ca8a04;
        /* display: block; */
        padding: 2vw;
    }
    .hero nav.collapse_menu{
        display: flex;
    }
    .hero nav .menu,
    .hero nav .buttons{
        display: none;
    }
    .hero nav .logo{
        position: relative;
    }
}